<mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>

<h5>{{modalTitle}}</h5>

<form (ngSubmit)="save(taskTypeForm)" #taskTypeForm="ngForm">
  <mat-form-field>
    <input type="text" matInput placeholder="Nome" required [(ngModel)]="modalData.taskType.name" name="name" #name="ngModel"
      minlength="3" maxlength="70">
    <mat-error *ngIf="name.hasError('minlength')">Nome muito curto</mat-error>
    <mat-error *ngIf="name.hasError('maxlength')">Nome muito longo</mat-error>
    <mat-error *ngIf="name.hasError('required')">Digite o nome da área</mat-error>
  </mat-form-field>
  <mat-slide-toggle color="primary" [(ngModel)]="modalData.taskType.usesCIS" name="usesCIS" #usesCIS="ngModel">
    Esta tarefa permite a importação de um CIS?
  </mat-slide-toggle>
  <footer>
    <button type="button" mat-button (click)="cancel()" [disabled]="isLoading">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="isLoading">Salvar</button>
  </footer>
</form>