<mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>

<h5>{{modalTitle}}</h5>

<form (ngSubmit)="save(contributorForm)" #contributorForm="ngForm">
  <mat-form-field>
    <input type="text" matInput placeholder="Nome" required [(ngModel)]="modalData.contributor.name" name="name" #name="ngModel"
      minlength="3" maxlength="70">
    <mat-error *ngIf="name.hasError('minlength')">Nome muito curto</mat-error>
    <mat-error *ngIf="name.hasError('maxlength')">Nome muito longo</mat-error>
    <mat-error *ngIf="name.hasError('required')">Digite o nome do colaborador</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="email" matInput placeholder="Email" required [(ngModel)]="modalData.contributor.email" name="email"
      #email="ngModel" email>
    <mat-error *ngIf="email.hasError('email')">Digite um email válido</mat-error>
    <mat-error *ngIf="email.hasError('required')">Digite o email do colaborador</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Senha" required [(ngModel)]="modalData.contributor.password" name="password"
      #password="ngModel" minlength="6" maxlength="20">
    <mat-error *ngIf="password.hasError('minlength')">Senha muito curta</mat-error>
    <mat-error *ngIf="password.hasError('maxlength')">Senha muito longa</mat-error>
    <mat-error *ngIf="password.hasError('required')">Digite a senha do colaborador</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="RG" required [(ngModel)]="modalData.contributor.rg" name="rg" #rg="ngModel"
      maxlength="14">
    <mat-error *ngIf="rg.hasError('maxlength')">RG muito longo</mat-error>
    <mat-error *ngIf="rg.hasError('required')">Digite o RG do colaborador</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="CPF" mask="000.000.000-00" required [(ngModel)]="modalData.contributor.cpf"
      name="cpf" #cpf="ngModel" pattern="[0-9]{11}">
    <mat-error *ngIf="cpf.hasError('pattern')">CPF inválido</mat-error>
    <mat-error *ngIf="cpf.hasError('required')">Digite o CPf do colaborador</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Telefone" mask="(00) 00000-0000" required [(ngModel)]="modalData.contributor.phone"
      name="phone" #phone="ngModel" pattern="[0-9]{11}">
    <mat-error *ngIf="phone.hasError('pattern')">Telefone inválido</mat-error>
    <mat-error *ngIf="phone.hasError('required')">Digite o telefone do colaborador</mat-error>
  </mat-form-field>
  <div class="form-field">
    <ng-select [items]="modalData.profiles" bindLabel="name" placeholder="Perfil *" required appendTo="body"
      [closeOnSelect]="true" [(ngModel)]="modalData.contributor.profile" name="profile" #profile="ngModel">
    </ng-select>
    <span class="error-message" *ngIf="profile.hasError('required') && (profile.touched || contributorForm.submitted)">Selecione
      o perfil do colaborador</span>
  </div>
  <div class="form-field">
    <ng-select [items]="modalData.occupations" bindLabel="name" placeholder="Ocupações *" required appendTo="body"
      multiple="true" [closeOnSelect]="false" [(ngModel)]="modalData.contributor.occupations" name="occupations"
      #occupations="ngModel">
    </ng-select>
    <span class="error-message" *ngIf="occupations.hasError('required') && (occupations.touched || contributorForm.submitted)">Selecione
      ao menos uma ocupação</span>
  </div>
  <footer>
    <button type="button" mat-button (click)="cancel()" [disabled]="isLoading">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="isLoading">Salvar</button>
  </footer>
</form>