footer {
    display: flex;
    justify-content: flex-end;
    button {
        margin-left: 10px;
    }
}

mat-spinner{
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}