<mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>

<h5>{{modalTitle}}</h5>

<form (ngSubmit)="save(occupationForm)" #occupationForm="ngForm">
  <mat-form-field>
    <input type="text" matInput placeholder="Nome" required [(ngModel)]="modalData.occupation.name" name="name" #name="ngModel"
      minlength="3" maxlength="70">
    <mat-error *ngIf="name.hasError('minlength')">Nome muito curto</mat-error>
    <mat-error *ngIf="name.hasError('maxlength')">Nome muito longo</mat-error>
    <mat-error *ngIf="name.hasError('required')">Digite o nome do colaborador</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Numeração" required [(ngModel)]="modalData.occupation.numeration" name="numeration" #numeration="ngModel" maxlength="5">
    <mat-error *ngIf="numeration.hasError('maxlength')">Numeração muito longa</mat-error>
    <mat-error *ngIf="numeration.hasError('required')">Digite uma numeração</mat-error>
  </mat-form-field>
  <div class="form-field">
    <ng-select [items]="modalData.areas" bindLabel="name" placeholder="Área *" required appendTo="body" [closeOnSelect]="true"
      [(ngModel)]="modalData.occupation.area" name="area" #area="ngModel">
    </ng-select>
    <span class="error-message" *ngIf="area.hasError('required') && (area.touched || occupationForm.submitted)">Selecione
      o perfil do colaborador</span>
  </div>
  <footer>
    <button type="button" mat-button (click)="cancel()" [disabled]="isLoading">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="isLoading">Salvar</button>
  </footer>
</form>