.form-field {
    position: relative;
}

// Badge
.badge {
    padding: 5px 15px;
    font-size: 12px;
}

// Error
ng-select.ng-invalid.ng-touched .ng-select-container {
    &:after {
        border-bottom-color: #f44336;
    }
    .ng-placeholder {
        color: #f44336;
    }
}

.error-message {
    color: #f44336;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 55px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

// Buttons
button:focus {
    outline: none;
}