$icon-size: 80px;
.status-message {
    mat-icon {
        display: block;
        font-size: $icon-size;
        width: $icon-size;
        height: $icon-size;
        margin: auto;
    }
    h4,
    p {
        text-align: center;
    }
    div {
        display: flex;
        button {
            margin: auto;
        }
    }
    &.success {
        mat-icon {
            color: #46a24a;
        }
    }
    &.error {
        mat-icon {
            color: #f44336;
        }
    }
}