@import "~@angular/material/theming";

$app-primary: mat-palette($mat-indigo);
$app-primary-light: mat-palette($mat-indigo, 100);

$primary: mat-color($app-primary);
$primary-light: mat-color($app-primary-light);