<mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>

<h5>{{modalTitle}}</h5>

<form (ngSubmit)="save(cycleForm)" #cycleForm="ngForm">
  <mat-form-field>
    <input type="text" matInput placeholder="Nome" required [(ngModel)]="modalData.cycle.name" name="name" #name="ngModel"
      minlength="3" maxlength="70">
    <mat-error *ngIf="name.hasError('minlength')">Nome muito curto</mat-error>
    <mat-error *ngIf="name.hasError('maxlength')">Nome muito longo</mat-error>
    <mat-error *ngIf="name.hasError('required')">Digite o nome da ciclo</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" placeholder="Selecione uma data" [(ngModel)]="modalData.cycle.startDate" name="startDate"
      #startDate="ngModel">
    <mat-error *ngIf="startDate.hasError('required')">Escolha a data inicial</mat-error>
    <mat-error *ngIf="startDate.hasError('date')">Selecione uma data válida</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" placeholder="Selecione uma data" [(ngModel)]="modalData.cycle.endDate" name="endDate"
      #endDate="ngModel">
    <mat-error *ngIf="endDate.hasError('required')">Escolha a data final</mat-error>
    <mat-error *ngIf="endDate.hasError('date')">Selecione uma data válida</mat-error>
  </mat-form-field>
  <footer>
    <button type="button" mat-button (click)="cancel()" [disabled]="isLoading">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="isLoading">Salvar</button>
  </footer>
</form>