:host() {
    width: 100%;
}

.card-content {
    width: 100%;
    h1 {
        margin-top: 0;
        text-align: center;
    }
    mat-form-field {
        width: 100%;
    }
    .recover-password {
        display: flex;
        justify-content: flex-end;
    }
    button {
        width: 100%;
        margin-top: 10px;
    }
}