<form class="card-content" (ngSubmit)="setNewPassword(resetPasswordForm)" #resetPasswordForm="ngForm" *ngIf="!submittedSuccessfully && token">
    <mat-card-content class="card-content">
        <h4 class="mat-title">Digite sua nova senha</h4>
        <mat-form-field>
            <input type="password" matInput placeholder="Senha" required [(ngModel)]="passwordData.password" name="password"
                #password="ngModel" (blur)="checkPassword(resetPasswordForm)">
            <mat-error *ngIf="password.hasError('required')">Digite sua senha</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Confirmar senha" required [(ngModel)]="passwordData.confirmPassword"
                name="confirmPassword" #confirmPassword="ngModel" (blur)="checkPassword(resetPasswordForm)">
            <mat-error *ngIf="confirmPassword.hasError('required')">Digite sua senha</mat-error>
            <mat-error *ngIf="confirmPassword.hasError('match')">As senhas devem ser iguais</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Confirmar</button>
    </mat-card-content>
</form>

<section class="status-message error" *ngIf="!submittedSuccessfully && !token">
    <mat-icon>cancel</mat-icon>
    <h4>Link inválido</h4>
    <p>Parece que seu link expirou ou é inválido.</p>
    <div class="button">
        <button type="button" mat-raised-button color="primary" routerLink="/login">Voltar para o login</button>
    </div>
</section>

<section class="status-message success" *ngIf="submittedSuccessfully">
    <mat-icon>check_circle</mat-icon>
    <h4>Senha alterada com sucesso.</h4>
    <p>Use sua nova senha para acessar o sistema.</p>
    <div class="button">
        <button type="button" mat-raised-button color="primary" routerLink="/login">Voltar para o login</button>
    </div>
</section>