<section class="header">
  <h4 class="d-md-block d-none">Ciclos</h4>
  <span class="vertical-divider d-md-block d-none"></span>
  <mat-form-field>
    <input matInput placeholder="Buscar ciclo" [formControl]="nameSearchedForm">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="tools">
    <!-- <button class="small-button" mat-button>
      <mat-icon>view_list</mat-icon>
    </button>
    <button class="small-button" mat-button>
      <mat-icon>view_module</mat-icon>
    </button> -->
    <button mat-mini-fab color="primary" (click)="showCycleModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>

<div class="example-container mat-elevation-z8">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <table mat-table [dataSource]="cycles">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Data de inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate | date: 'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> Data de termino </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate | date: 'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element" style="width: 50px">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="showCycleModal(element)">Editar</button>
          <button mat-menu-item (click)="deleteCycle(element)">Remover</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="totalItems" [pageSize]="10" (page)="changedPage($event)" showFirstLastButtons
    [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>