@import "../../../styles/variables";

.side-menu-container {
    width: 250px;
    .user-info {
        background-image: url('../../../assets/images/menu-background.png');
        height: 128px;
        background-size: cover;
        color: #fff;
        display: flex;
        .image {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            align-self: flex-end;
            margin: 0 0 10px 10px;
        }
        .details {
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 10px;
            h4, h6 {
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 15px;
                margin-right: 15px;
                cursor: default;
            }
            h4 {
                font-size: 0.9rem;
            }
            h6 {
                font-size: 0.7rem;
            }
        }
    }
    .menu-items {
        padding: 10px;

        .menu-item {
            outline: none;
            display: flex;
            cursor: pointer;
            margin: 5px 0;
            padding: 10px;
            border-radius: 3px;
            &:hover {
                background: $primary-light;
            }
            &.active {
                background-color: $primary;
                color: #fff;
            }
            mat-icon {
                margin-right: 5px;
            }
        }
    }
}