<div class="side-menu-container">
  <div class="user-info">
    <img src="../../../assets/images/empty-user.jpg" class="image">
    <div class="details">
      <h4 [title]="userData.name">{{userData.name}}</h4>
      <h6 [title]="userData.email">{{userData.email}}</h6>
    </div>
  </div>

  <ul class="menu-items">
    <li class="menu-item" routerLink="/home" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon> Dashboard
    </li>
    <li class="menu-item" routerLink="/profiles" routerLinkActive="active">
      <mat-icon>group_work</mat-icon> Perfis
    </li>
    <li class="menu-item" routerLink="/contributors" routerLinkActive="active">
      <mat-icon>people</mat-icon> Colaboradores
    </li>
    <li class="menu-item" routerLink="/areas" routerLinkActive="active">
      <mat-icon>book</mat-icon> Áreas
    </li>
    <li class="menu-item" routerLink="/occupations" routerLinkActive="active">
      <mat-icon>extensions</mat-icon> Ocupações
    </li>
    <li class="menu-item" routerLink="/task-types" routerLinkActive="active">
      <mat-icon>style</mat-icon> Tipos de Tarefas
    </li>
    <li class="menu-item" routerLink="/cycles" routerLinkActive="active">
      <mat-icon>history</mat-icon> Ciclos
    </li>
  </ul>
</div>