<mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
<h5>Deletar Ciclo</h5>

<p>
  Gostaria de remover a ciclo <b>{{modalData.cycle.name}}</b>?
</p>

<footer>
  <button type="button" mat-button (click)="cancel()" [disabled]="isLoading">Cancelar</button>
  <button type="button" mat-raised-button color="primary" (click)="confirm()" [disabled]="isLoading">Confirmar</button>
</footer>