.external-container {
    background-image: url('../../../assets/images/bg-login.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fafafa;

    .external-card {
        margin: auto;
        width: 400px;
        display: flex;
    }
}