.mat-elevation-z8 {
    width: 100%;
    table {
        width: 100%;
    }
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;

    .vertical-divider {
        height: 45px;
        border-right: 2px solid #999;
        width: 1px;
        margin: 0 15px;
    }

    h4 {
        font-weight: normal;
    }

    mat-form-field {
        margin-right: 10px;
        padding-top: 0.50em;
        flex-grow: 2;
    }

    .tools {
        margin-left: auto;
        display: flex;
        align-items: center;
        .small-button {
            margin-right: 10px;
            min-width: 60px;
        }
    }
}

@media (max-width: 500px) {
    .header {
        flex-wrap: wrap;
        padding-bottom: 10px;
        mat-form-field {
            order: 2;
        }
        .tools {
            order: 1;
        }
    }
}