<form class="card-content" *ngIf="!submittedSuccessfully" (ngSubmit)="submitted(recoverPasswordForm)"
  #recoverPasswordForm="ngForm">
  <mat-card-content class="card-content">
    <h4 class="mat-title">Digite seu e-mail o qual deseja recuperar a senha</h4>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" required [(ngModel)]="emailValue" name="email" #email="ngModel"
        email>
      <mat-error *ngIf="email.hasError('email')">Digite um email válido</mat-error>
      <mat-error *ngIf="email.hasError('required')">Digite seu email</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Recuperar Senha</button>
    <button type="button" mat-button routerLink="/login">Voltar para o login</button>
  </mat-card-content>
</form>

<section class="status-message success" *ngIf="submittedSuccessfully">
  <mat-icon>check_circle</mat-icon>
  <h4>Uma nova senha foi enviada para seu e-mail.</h4>
  <div class="button">
    <button type="button" mat-raised-button color="primary" routerLink="/login">Voltar para o login</button>
  </div>
</section>