:host() {
    width: 100%;
}
.mat-title {
    text-align: center;
}
.card-content {
    width: 100%;
    mat-form-field {
        width: 100%;
    }
    button {
        width: 100%;
        margin-top: 10px;
    }
}
