<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="onToggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>SATC</span>
    <span class="spacer"></span>
    <button mat-button (click)="logout()">
      <mat-icon>power_settings_new</mat-icon> Sair
    </button>
  </mat-toolbar-row>
</mat-toolbar>