<mat-drawer-container class="wrapper" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <app-side-menu (routeChanged)="drawer.toggle()"></app-side-menu>
  </mat-drawer>

  <app-toolbar (toggleMenu)="drawer.toggle()"></app-toolbar>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>