<form class="card-content" (ngSubmit)="submitted(loginForm)" #loginForm="ngForm">
  <mat-card-content class="card-content">
    <h1>SATC</h1>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" required [(ngModel)]="loginData.email" name="email" #email="ngModel"
        email>
      <mat-error *ngIf="email.hasError('email')">Digite um email válido</mat-error>
      <mat-error *ngIf="email.hasError('required')">Digite seu email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Senha" required [(ngModel)]="loginData.password" name="password"
        #password="ngModel">
      <mat-error *ngIf="password.hasError('required')">Digite sua senha</mat-error>
    </mat-form-field>
    <div class="recover-password">
      <a routerLink="/recover-password">Esqueci minha senha</a>
    </div>
    <button mat-raised-button color="primary">Entrar</button>
  </mat-card-content>
</form>